.mps{
    flex:5;
    overflow-y: scroll;
}

.chartDiv{
    justify-content: center;
}

.slider3{
    padding:10px 10px;
    width:95%;
    display:flex;
    justify-content: center;
    align-items: center;
  }

.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.featuredItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.featuredItem3 {
    flex: 1;
    margin: 0px 20px;
    padding-top: 20px;
    border-radius: 10px;
    cursor: default;
    overflow-y: scroll;
  }

.featuredTitle{
    font-size: 20px;
}

.featuredItemNoShadow {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.featuredTitleList{
    display:inline-flex;
    font-size: 20px;
    padding-left: 15px;
}

.loader {
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #AD6ADF; /* Blue */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }