.sidebar{
    flex:1;
    background-color:rgb(241, 241, 241);
    height:calc(100vh - 50px);
    position:sticky;
    top:50px;
}

.siderbarTitle{
    font-size:13px;
    color:rgb(169, 169, 169);
}

.sidebarWrapper{
    padding:15px
}

.sidebarList{
    list-style: none;
    padding:5px;
}

.sidebarListItem{
    font-size:12px;
    padding:3px;
    cursor: pointer;
    display:flex;
    border-radius: 10px
}

.sidebarListItem.active,.sidebarListItem:hover{
    background-color:rgb(199, 182, 236);
    transition: background-color 0.75s;
}

.sidebarListItemIcon{
    margin-right:5px;
    font-size:20px !important
}

.sidebarFooter{
    bottom:0;
}