.orderinghistory{
  flex: 5;
}

.orderTitle{
  padding:30px 15px;
  text-align: center;
  font: bold;
  font-size: 22px;

}

.submitButton{
  padding-top: 50px;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.featuredItem {
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.featuredTitle{
  font-size: 20px;
}

.featured2 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

.slider3{
  padding:15px 10px;
  width:95%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.slider2{
  padding:15px 10px;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.sliderWrapper{
  display:flex;
  justify-content: center;
  align-items: center;
}

.tableContainer{
  background-color: #ffffff;
  min-height: 80vh;
  width:100%;
  overflow: scroll;
}

.loader {
  border: 12px solid #f3f3f3;
  border-top: 12px solid #AD6ADF;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}